---
title: "iTMS - DC"
layout: "layout-desktop-home-dc"


baseURL: "/iel-mis/build/src/desktop/home/dc/"
loginURL: "../../Login/index.php"
homeURL: "../"
imageURL: "../../../../images"

pageTitle: " DC"
pageSubTitle: "Distribution Center"

imagePath_600x600: "../../../../images/iel-itms/DC/img-prototypes/600x600"
imagePath_1200x900: "../../../../images/iel-itms/DC/img-prototypes/1200x900"
pageMenu: "DC"

---

<div class="page-wrapper">
    <div class="page-wrapper-row">
        <div class="page-wrapper-top">

            <!-- BEGIN HEADER -->
            <div class="page-header">

                <!-- BEGIN HEADER TOP -->
                <%= partial partials_desktop_home + "/common-partials/_page-header-top" %>

                <!-- BEGIN HEADER MENU -->
                <%= partial partials_desktop_home + "/common-partials/_page-header-menu" %>

            </div>
            <!-- END HEADER -->

        </div>
    </div>

    <div class="page-wrapper-row full-height">
        <div class="page-wrapper-middle">

            <!-- BEGIN CONTAINER -->
            <div class="page-container">
                <!-- BEGIN CONTENT -->
                <div class="page-content-wrapper">
                    <!-- BEGIN CONTENT BODY -->

                    <!-- BEGIN HEADER MENU -->
                    <%= partial "partials/_page-head" %>

                    <!-- BEGIN PAGE CONTENT BODY -->
                    <div class="page-content">
                        <div class="container-fluid">

                            <!-- PAGE BREADCRUMBS -->
                            <%= partial "partials/_page-breadcrumb" %>

                            <!-- BEGIN PAGE CONTENT INNER -->
                            <div class="page-content-inner">

                                <%= partial partials_desktop_home + "/dc/partials/_prototype_cover" %>
                                <%= partial partials_desktop_home + "/dc/partials/_prototype_detail" %>


                            </div>
                            <!-- END PAGE CONTENT INNER -->
                        </div>
                    </div>
                    <!-- END PAGE CONTENT BODY -->
                    <!-- END CONTENT BODY -->
                </div>
                <!-- END CONTENT -->
            </div>
            <!-- END CONTAINER -->

        </div>
    </div>

    <div class="page-wrapper-row">
        <div class="page-wrapper-bottom">
            <!-- FOOTER -->

            <%= partial partials_desktop_home + "/common-partials/_footer" %>
        </div>
    </div>
</div>
