                                                <div class="cbp-item">
                                                    <a href="<%= current_page.data.imagePath_1200x900 %>/<%= index %>.png" class="cbp-caption cbp-lightbox" data-title="Prototype # <%= index %><br><%= current_page.data.pageMenu %>">
                                                        <div class="cbp-caption-defaultWrap">
                                                            <img src="<%= current_page.data.imagePath_600x600 %>/<%= index %>.png" alt=""> 
                                                        </div>
                                                        <div class="cbp-caption-activeWrap">
                                                            <div class="cbp-l-caption-alignLeft">
                                                                <div class="cbp-l-caption-body">
                                                                    <div class="cbp-l-caption-title">Prototype # <%= index %></div>
                                                                    <div class="cbp-l-caption-desc"><%= current_page.data.pageMenu %></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>